body, html {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
}

#navLink {
    font-size: larger; 
    /* color: #A0D2DB; */
    color: inherit;
}

#navLink:hover {
    color: #F8C7CC;
    font-weight: bolder;
}

.indexBackground {
    background: url('./static/Ocean-2.5s.svg');
    /* background: url('./static/Speedline-2s-1920px.svg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #292F36;
}

#wordEmphasis {
    /* color: #A0D2DB; */
    /* color: #DB5461; */
    color: #F8C7CC; 
    font-weight: bolder;
}

#wordEmphasis:hover {
    /* color: #4C60A9; */
    color: #DB5461;
    /* color: #F8C7CC;  */
    /* font-weight: bolder; */
}

#subHeader {
    color: white;
    font-weight: bolder;
}